body {
  margin: 0;
  padding: 0;
  color: #000;
  font-size: 14px;
  overflow-x: hidden;
  height: 100%;
  background: #fff;
}

a {
  text-decoration: none;
}

/* 模态框头部 */
.el-dialog__header {
  border: 1px solid #f1f1f1;
}

/* 模态框底部 */
.el-dialog>.el-dialog__footer {
  padding: 10px 20px;
  border-top: 1px solid #f1f1f1;
}

/* 模态框纵向外滚动条改为内滚动条 */
/* 默认模态框 */
.el-dialog {
  position: absolute;
  top: 50%;
  left: 50%;
  margin: 0 !important;
  transform: translate(-50%, -50%);
  max-height: calc(100% - 50px);
  max-width: calc(100% - 50px);
  display: flex;
  flex-direction: column
}

.el-dialog>.el-dialog__body {
  overflow: auto;
}

/* 固定大小模态框(dia-log标签添加custom-class="fixed-dialog")*/
.fixed-dialog {
  height: calc(100% - 50px);
  width: calc(100% - 50px);
}

.fixed-dialog>.el-dialog__body {
  margin-bottom: 120px;
}

.fixed-dialog>.el-dialog__footer {
  width: 100%;
  position: absolute;
  bottom: 0;
}

/*外面首页登录注册*/
.index .identifybox {
  display: flex;
  justify-content: space-between;
  width: 120px;
}

.index .iconstyle {
  color: #409EFF;
}

.index .headNav {
  width: 100%;
  height: 60px;
  background: #00b1e4;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
}

.index .nav li {
  display: inline-block;
  width: 100px;
  height: 60px;
  line-height: 60px;
}

.index .navHeads {
  width: 70%;
  height: 60px;
  display: flex;
  align-items: center;
  background: transparent;
  justify-content: space-between;
  margin: 0 auto;
}

.index .navHeads .navBox {
  text-align: right;
}

.index .navHeads .navBox li {
  display: inline-block;
}

.index .navHeads .navBox li a {
  display: inline-block;
  color: #fff;
  width: 120px;
  font-size: 16px;
  height: 60px;
  line-height: 60px;
  cursor: pointer;
  text-align: center;
}

.index .navHeads .navBox a:hover {
  color: #f1f1f1;
}

.index .navHeads .navRightBox {
  width: 100%;
}

.index .navHeads .navBox .loginBtn,
.index .navHeads .navBox .registerBtn {
  display: inline-block;
  width: 60px;
  text-align: center;
}

.footer {
  margin-top: 50px;
  padding: 50px 0;
  border-top: #e2e2e2 solid 1px;
  text-align: center;
}

.forgetTxt {
  cursor: pointer;
  float: right;
  color: #0099F0;
}

.forgetTxt:hover {
  color: #0099F0;
}

.activeThis {
  color: #FFF;
  background-color: #409EFF;
  border-color: #409EFF;
}

.banner {
  width: 100%;
  height: 898px;
  background-image: url('../../assets/image/banner1.jpg');
}

.bannerTxt {
  width: 40%;
  text-align: center;
  position: relative;
  top: 38%;
  left: 5%;
}

.bannerTxt .p1 {
  font-size: 40px;
  line-height: 1.5;
  margin: 6px auto;
  font-family: "Microsoft YaHei", 微软雅黑, MicrosoftJhengHei, 华文细黑, STHeiti, MingLiu;
  color: #212121;
}

.bannerTxt .p2 {
  font-size: 22px;
  line-height: 1.5;
  color: #666;
  padding-bottom: 30px;
  margin-top: 50px;
}
.blue-btn{
  background: #00b1e4;
  color: #fff;
  font-size: 18px;
  font-weight: bold;
  padding: 15px 30px;
  border: none;
  cursor: pointer;
}
.blue-btn-buy{
  font-size: 14px;
  font-weight: normal;
  padding: 10px 30px;
  border: none;
  cursor: pointer;
}

.proTypeBox {
  width: 100%;
  background: #f8f8f8;
  padding: 100px 0;
}

.proType {
  margin: 0 auto;
  width: 70%;
}

.proType .inbox {
  border: 1px solid #f1f1f1;
  padding: 100px 0;
  background: #fff;
  border-radius: 50%;
}

.proType .inbox:hover {
  box-shadow: 0 2px 12px 0 #eee
}

.txtCenter {
  text-align: center;
}

.txtRight {
  text-align: right;
}

.txtCol {
  color: rgb(120, 120, 120);
}

.proType .iconFZ {
  font-size: 60px;
  color: #00b1e4;
}

.proType .typeItem {
  font-size: 22px;
  line-height: 1.5;
  margin-top: 20px;
}

.taskShow {
  width: 100%;
  height: 700px;
  padding: 100px 0;
}

.widCon {
  width: 70%;
  margin: 0 auto;
}

.taskBor {
  border: 1px solid #eee;
  padding: 40px;
  height: 450px;
  box-sizing: border-box;
  position: relative;
}

.taskBor img{
  width: 150px;
}

.taskBor:hover {
  box-shadow: 0 2px 12px 0 #eee
}

.more-link .el-link.el-link--default{
  color: #00b1e4;
}

.nth2 {
  border: #0099F0 2px solid;
}

.priceTask {
  font-size: 36px;
  color: #00b1e4;
  font-weight: 700;
}

.colItem {
  color: #00b1e4;
}

.br {
  margin-top: 50px;
  border-bottom: #eee solid 1px;
}

.itemBom {
  position: absolute;
  height: 350px;
  width: 100%;
}

.buyBtn {
  width: 100%;
  text-align: center;
  position: absolute;
  bottom: 50px;
}

.taskDes {
  padding: 0 30px;
  height: 56px;
  line-height: 2;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}

.titleItem {
  width: 100%;
  height: 60px;
  line-height: 60px;
  color: #fff;
  position: absolute;
  top: -20px;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
  background: #0099F0;
}

.serviceBox {
  width: 1280px;
  margin: 0 auto;
  padding-bottom: 50px;
}

.serviceBox .serviceTitle {
  padding-top: 66px;
  color: rgb(51, 51, 51)
}

.serviceBox .serviceDes {
  padding-bottom: 50px;
  padding-top: 20px;
}

.aboutUs {
  padding: 100px 0;
}

.aboutCon {
  width: 70%;
  margin: 0 auto;
  text-align: center;

}

.aboutDes {
  width: 100%;
  padding: 20% 0px;
  line-height: 2.5;
  padding-bottom: 30px;
}

.aboutImg {
  width: 70%;
  margin: 0 auto;
  margin-top: 40px;
}

.contactMe {
  width: 100%;
  height: 300px;
  background: #0098ef;
}

.contactMe .contactTitle {
  padding-top: 80px;
}

.contactBtn {
  padding: 13px 54px;
  color: #000;
  font-size: 16px;
}

footer {
  width: 100%;
  height: 260px;
  background: #dff3fa;
}

.footerTit {
  width: 70%;
  margin: 0 auto;
  padding-top: 30px;
  text-align: center;
}

.foot-col{
  color: #777;
}

.footerTxt {
  width: 70%;
  margin: 0 auto;
  border-top: 1px solid #00b1e4;
  padding-top: 30px;
  color: #999;
  margin-top: 30px;
}

/*注册登录*/
.pwdBox {
  width: 30%;
  margin: 50px auto;
}

.imgBox {
  width: 225px;
  display: inline-block;
}

.imgBox .logo-icon{
  color: #fff;
  font-size: 40px;
}
.imgBox .logo-text{
  color: #fff;
  font-size: 32px;
  letter-spacing:3px;
  margin-left: 10px;
  font-style:italic;
  font-weight: bold;
}

.navBox {
  position: relative;
  right: 0;
  height: 60px;
}

.loginIn {
  position: absolute;
  right: 100px;
}

.loginOut {
  position: absolute;
  right: 0;
}

.avatar {
  width: 178px;
  display: block;
  background-size: cover;
}

.tipTxt {
  color: #999;
}

.navCon {
  background-color: #fff;
}

.el-menu.el-menu--horizontal {
  border-bottom: none;
}

.navHead {
  width: 80%;
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
}

.userInfoBox {
  position: absolute;
  right: 100px;
}

.img-log {
  height: 40px;
}

.navImg {
  text-align: left;
}

.navRightBox {
  width: 80%;
}

.loginItem .el-input {
  margin: 5px 0;
}
.loginItem .el-input input{
  border-radius: 0px;
}

.txtRight {
  text-align: right;
}

.loginItem .el-input-group__append,
.el-input-group__prepend {
  width: 60px;
  text-align: center;
  background: #fbfbfb;
}
.reg-checknum{
  width: 250px !important;
}
.reg-checkbtn{
  width: 140px;
  position: absolute;
  top: 5px;
  right: 0;
  padding: 13px;
  border-radius: 0px;
}
.login-big-btn{
  width: 100%;
  padding: 16px 0;
}

/*资金管理*/
.balance {
  margin: 10px 0;
}

.center,
.modelCenter {
  text-align: center;
}

.accountBox {
  width: 100%;
  height: 320px;
  background: #fff;
  margin-top: 30px;
}

.searchBox {
  width: 100%;
  background: #eef1f6;
  padding: 20px 30px 0px 30px;
  box-sizing: border-box;
  margin-bottom: 20px;
  text-align: left;
}

.timeTxt {
  line-height: 38px;
}

.payTips {
  font-size: 14px;
  color: #e87901;
}

.tipRed {
  color: #F56C6C;
  font-size: 16px;
}

.labels {
  height: 36px;
  line-height: 36px;
}

.minRight {
  padding-right: 50px;
}

/*任务管理*/
.lh40 {
  line-height: 40px;
}

.spanTxt {
  display: inline-block;
  width: 80px;
  text-align: right;
}

.del-dialog-cnt {
  text-align: center;
}

.proImg {
  display: inline-block;
  width: 240px;
  height: 240px;
  background: #eee;
}

.el-rate {
  margin-top: 5px;
}

.dialogBox {
  padding: 30px;
}

.delMb {
  margin-left: 5px;
}

.form-item {
  clear: both;
  display: block;
  text-align: left;
}

.center {
  text-align: center;
}

.dialogWid {
  width: 100%;
}


/*帮助中心*/

.article-list {
  margin-top: 30px;
}

.articleItem {
  list-style: none;
}

.articleItem {
  padding: 20px;
  border: 1px solid #eee;
  cursor: pointer;
}

.art-time {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: #999;
}

.articleItem h4 {
  font-size: 16px;
  margin: 0;
  font-weight: 400;
}

.articleItem p {
  margin-top: 10px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  color: #666;
}

.demo-ruleForm {
  margin: 20px 0;
}


/*帮助中心详情*/

.helpMain {
  max-width: 800px;
  margin: 5px auto 40px auto;
}

.helpTitle {
  text-align: center;
  font-size: 16px;
  font-weight: 400;
}

.helpMain p,
.helpMain .articleDetail {
  line-height: 26px;
  text-indent: 2em;
}

.articleDetail {
  list-style: none;
}

.articleBox {
  max-width: 800px;
  margin: 40px auto;
}

.articleBox h4 {
  text-align: center;
  font-size: 16px;
  font-weight: 400;
}

.articleBox p {
  line-height: 26px;
  margin: 14px 0;
  text-indent: 2em;
}

.articleContent {
  line-height: 26px;
  text-indent: 2em;
}

.articleTime {
  color: #999;
}


/*基本信息*/

.loginBox {
  width: 100%;
  height: calc(100vh-2%);
  padding-top: 2%;
}

.loginMain{
  padding: 50px;
  width: 400px;
  height: 80vh;
  margin: 0 auto;
  border: 1px solid #f1f1f1;
}

.loginMain .login-logo{
  margin-bottom: 30px;
  width: 250px;
}

.loginMain .login-text{
  font-size: 40px;
  font-weight: bold;
  color: #00b1e4;
  cursor: pointer;
  margin-top: 10px;
}

.userInfo {
  width: 30%;
  margin: 50px auto;
}

.userList {
  border-bottom: 1px dashed #ccc;
}

.infoItem {
  height: 60px;
  border-bottom: 1px dashed #ccc;
  font-size: 15px;
}

.infoItem .names {
  margin-right: 80px;
  font-weight: 700;
}

.editBtn {
  margin-left: 20px;
  color: #238df9;
  cursor: pointer;
}

.pwd {
  width: 520px;
}

.tips {
  padding-left: 20px;
  color: #999;
  font-size: 13px;
}

/*任务详情*/

.disInline {
  display: inline-block;
}

.tabBox {
  position: relative;
  width: 100%;
  clear: both;
  border-bottom: 2px solid #00B1E4;
}

.tabList {
  width: calc(100% - 100px);
  overflow-X: auto;
}

.tabBlock {
  width: 100%;
  clear: both;
  overflow: hidden;
  margin: 0;
  padding: 0;
}

.tabBlock li {
  width: 96px;
  line-height: 40px;
  text-align: center;
  float: left;
  list-style: none;
  padding: 0 10px;
  background: #eef1f6;
  border-right: 1px solid #e2e2e2;
  font-size: 14px;
  cursor: pointer;
}

.tabBlock .active {
  color: #fff;
  background: #00B1E4;
}

.tabRight {
  position: absolute;
  right: 0;
  top: 0;
}

.taskCon {
  width: 100%;
  margin: 0 auto;
  background: #fff;
  border: 1px solid #E2E2E2;
  border-radius: 3px;
  box-shadow: 0 2px 12px 0 rgba(0, 0, 0, .1);
}

.taskHead {
  padding: 18px 20px;
  border-bottom: 1px solid #ebeef5;
}

.backBox {
  width: 80%;
  margin: 30px auto 30px auto;
}

.headFlex {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  box-sizing: border-box;
  background-color: #c0ccda;
}

.disNone {
  display: none;
}

.btborder {
  border-bottom: 1px solid #009688;
}

.minWidth {
  min-width: 1300px;
}

.tabls {
  margin: 0 auto;
  overflow-x: auto;
}


/*我要提现*/

.el-tooltip__popper.is-light {
  padding: 10px 20px;
}

.reason {
  display: inline-block;
  padding-top: 5px;
}

.balanceBox {
  width: 100%;
  height: 80px;
  border: 1px solid #eee;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}


/*任务管理*/

.taskItme {
  width: 90%;
  margin: 0 auto;
  height: 200px;
  box-shadow: 0 2px 12px 0 rgba(0, 0, 0, .1);
  margin-top: 30px;
}

.wid70 {
  width: 70%;
}

.shows {
  display: none;
}


/*创建任务*/

.colTxt {
  color: #e87901;
  font-weight: 700;
}

.col9 {
  color: #999;
}

.content {
  width: 80%;
  margin: 30px auto 100px auto;
}

.taskTit {
  width: 100%;
  height: 60px;
  line-height: 60px;
}

.redRequired {
  color: #f00;
}

.tabTitle {
  height: 60px;
  line-height: 60px;
  text-align: center;
  color: #fff;
  background: #7a7df2;
}

.zengTit {
  background: #009688;
}

.serviceTit {
  background: #7eb338;
}


/*任务类型*/

.contentType {
  width: 70%;
  margin: 0 auto;
}

.TypeItems {
  display: flex;
  justify-content: space-between;
  border: 1px solid #eee;
  padding: 30px;
  box-sizing: border-box;
}

.titleName,
.titleNames {
  font-size: 16px;
  margin-bottom: 10px;
  display: inline-block;
}

.titleNames {
  color: #a2a5b9;
}

.itemPrice {
  font-size: 18px;
  color: #FF0000;
  font-weight: 600;
}

.des {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  margin-right: 100px;
}

.types {
  font-size: 16px;
}

.layui-laydate-content>.layui-laydate-list {
  padding-bottom: 0px;
  overflow: hidden;
}

.layui-laydate-content>.layui-laydate-list>li {
  width: 50%
}

.merge-box .scrollbox .merge-list {
  padding-bottom: 5px;
}

/*总价固定底部*/
.totalPrice {
  position: fixed;
  bottom: 0;
  width: 150px;
  text-align: center;
  left: 50px;
  height: 50px;
  line-height: 50px;
  box-shadow: 0 2px 12px 0 rgba(0, 0, 0, .1);
  font-size: 16px;
  color: #f00;
  background: #fff;
  z-index: 999;
}

/*点赞任务*/
.headTxt {
  width: 100%;
  height: 40px;
  line-height: 40px;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, .2);
  margin-bottom: 40px;
  padding-left: 8px;
}

/*问题*/
.areaHeight {
  min-height: 0;
}

/* 通用 */
.ml10 {
  margin-left: 10px !important;
}

.ml20 {
  margin-left: 20px !important;
}

.ml30 {
  margin-left: 30px !important;
}

.ml50 {
  margin-left: 50px !important;
}

.mr10 {
  margin-right: 10px !important;
}

.mr20 {
  margin-right: 20px !important;
}

.mr30 {
  margin-right: 30px !important;
}

.mr50 {
  margin-right: 50px !important;
}

.mt10 {
  margin-top: 10px !important;
}

.mt20 {
  margin-top: 20px !important;
}

.mt30 {
  margin-top: 30px !important;
}

.mt50 {
  margin-top: 50px !important;
}

.mt60 {
  margin-top: 60px !important;
}

.mb10 {
  margin-bottom: 10px !important;
}

.mb20 {
  margin-bottom: 20px !important;
}

.mb30 {
  margin-bottom: 30px !important;
}

.mb50 {
  margin-bottom: 50px !important;
}

.m15 {
  margin: 15px !important;
}

.p15 {
  padding: 15px !important;
}

.center {
  text-align: center !important;
}

.f-r{
  float: right;
}

.col,
.col-fff {
  color: #fff;
}

.fz16 {
  font-size: 16px;
}

.fz20 {
  font-size: 20px;
}

.fz30 {
  font-size: 30px;
}

/* 背景色 */
.bg-primary {
  background: linear-gradient(to right, #da8cff, #9a55ff);
}

.bg-success {
  background: linear-gradient(to right, #84d9d2, #07cdae);
}

.bg-info {
  background: linear-gradient(to right, #90caf9, #047edf);
}

.bg-danger {
  background: linear-gradient(to right, #ffbf96, #fe7096);
}

.bg-warning {
  background: linear-gradient(to right, #ffd530, #e6a23c);
}

.bg-fff {
  background: #fff;
}

/* 更改默认按钮色 */
.el-button--primary,
.el-button--primary:focus {
  border: 0;
  background: linear-gradient(to right, #da8cff, #9a55ff);
}

.el-button--success,
.el-button--success:focus {
  border: 0;
  background: linear-gradient(to right, #84d9d2, #07cdae);
}

.el-button--info,
.el-button--info:focus {
  border: 0;
  background: linear-gradient(to right, #90caf9, #047edf);
}

.el-button--danger,
.el-button--danger:focus {
  border: 0;
  background: linear-gradient(to right, #ffbf96, #fe7096);
}

.el-button--warning,
.el-button--warning:focus {
  border: 0;
  background: linear-gradient(to right, #ffd530, #e6a23c);
}

.el-button--primary:hover {
  background: linear-gradient(to right, #ea8cff, #aa55ff);
}

.el-button--success:hover {
  background: linear-gradient(to right, #b4d9d2, #37cdae);
}

.el-button--info:hover {
  background: linear-gradient(to right, #c0caf9, #347edf);
}

.el-button--danger:hover {
  background: linear-gradient(to right, #ffbfc6, #fe70c6);
}

.el-button--warning:hover {
  background: linear-gradient(to right, #ffe530, #e9a23c);
}

/* 登录后首页 */
.menubox,.el-menu-vertical-demo{
  background: #00b1e4;
}
.menu-inbox{
  width: 100%;
  margin: 0 auto;
}
.el-menu-vertical-demo{
  color: #212121;
}
.el-menu-item:hover{
  background: #00b1e4 !important;
}
.el-submenu__title.is-active{
  color: #212121;
}
.el-submenu__title,.el-submenu__title i{
  color: #fff !important;
}
.el-submenu__title:hover{
  background: #00b1e4 !important;
}
.login-logo{
  height: 60px;
  line-height: 60px;
  text-align: center;
  font-size: 36px;
  font-weight: bold;
  color: #fff;
}
.login-user{
  float: right !important;
  margin-right: 30px;
}
.login-out{
  float: right !important;
  right: 30px;
}
.el-menu-vertical-demo> .el-menu-item i,
.el-menu-vertical-demo>.el-menu-item{
  color: #fff;
}
.el-menu-vertical-demo> .el-menu-item.is-active i,
.el-menu-vertical-demo>.el-menu-item.is-active{
  background: none !important;
}
.el-menu-vertical-demo ul li:hover{
  background: none;
}

.con-box {
  padding-left: 30px;
  background: #f2edf3;
  height: calc(100vh - 120px);
  overflow: auto;
}

.foot-box {
  background: #fff;
}

.foot-box div {
  color: #2e2e2e;
  text-align: center;
  height: 60px;
  line-height: 60px;
}

.el-menu {
  border: none;
}

.el-menu-item.is-active {
  color: #b66dff;
  background: #f2edf3;
}

.el-header {
  padding: 0;
  position: fixed;
  width: 100%;
  z-index: 999999;
}

.top-box {
  background: #fff;
  height: 60px;
  line-height: 60px;
}

.top-box .logo {
  width: 220px;
}

.top-box .logo img {
  width: 140px;
  padding: 15px 15px 15px 25px;
}

.t-r-box,
.t-r-box {
  position: absolute;
  top: 0;
  right: 100px;
}

.t-r-box ul {
  margin: 0;
  padding: 0;
}

.t-r-box ul li {
  list-style: none;
  float: left;
  height: 60px;
  line-height: 60px;
  padding: 2px 5px;
  cursor: pointer;
  color: #2e2e2e;
  text-align: center;
}

.t-r-box ul li:hover {
  color: #a25cff !important;
}

.t-r-box .username span{
  padding: 3px;
}

.t-r-box .userimg {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  margin-top: 14px;
  border: 1px solid #f1f1f1;
}

.t-r-box .logout {
  margin-left: 20px;
}

.page-title {
  font-size: 16px;
  letter-spacing: 2px;
}

.page-title span {
  background: linear-gradient(to right, #da8cff, #9a55ff);
  padding: 3px 5px;
  margin-right: 15px;
}

.page-title i {
  color: #fff;
}

.outbox .con {
  height: 200px;
  color: #fff;
  font-size: 22px;
  border-radius: 5px;
  margin-top: 30px;
  padding-left: 70px;
}

.outbox .con .num-box {
  position: relative;
  top: 50px;
}

.outbox .con .num {
  font-size: 32px;
  margin-right: 10px;
  font-weight: bold;
}

.outbox .con .sts {
  position: relative;
  top: 80px;
}

.outbox .con i {
  float: right;
  margin-right: 30px;
  margin-top: -50px;
  font-size: 50px;
}

.userimg img {
  width: 150px;
  height: 150px;
  border-radius: 50%;
}

.userinfo {
  padding: 20px 0;
  margin-top: 20px;
  border-radius: 5px;
  height: 390px;
}

.userinfo div {
  padding: 15px 0;
}

.userinfo .level {
  padding: 5px 8px;
  margin-left: 10px;
  color: #fff;
}

.userinfo .money {
  font-size: 26px;
  color: #fe7396;
}

.charts-xf-box {
  margin-top: 20px;
  border-radius: 5px;
  padding: 15px;
}

.small-title {
  padding: 0 !important;
  text-align: left;
  font-size: 16px;
  font-weight: bold;
  margin-left: 15px;
}

.small-title i {
  margin-right: 3px;
  color: #42B983;
}

.product-list {
  padding: 15px;
  margin-top: 20px;
  border-radius: 5px;
}

.product-list .small-title {
  margin: 0 0 20px 0;
}

.product-list .el-table__row {
  height: 100px;
}

/* 页面 */
.fbox {
  margin-top: 60px;
  background: #fff;
  padding: 20px;
  min-height: calc(100vh - 150px);
  border-radius: 5px;
}

/* 翻页 */
.el-pagination{
  border: 1px solid #f5f5f5;
}
.el-pagination input{
  border: none;
}

/* 帮助中心 */
.helpcenter .el-collapse-item__header{
  font-weight: bold;
  height: 70px;
  line-height: 70px;
}
.helpcenter .el-collapse-item__content{
  background: #f5f5f5;
  padding: 15px;
}


/*------------------------------ 新样式 --------------------*/

/* 登录后首页 */
.welcome{
  padding: 20px;
  font-size: 20px;
  background: #f5f5f5;
}
.welcome button{
  position: relative;
  top: -6px;
}
.welcome .userMoney{
  color: #F56C6C;
  font-size: 28px;
  font-weight: bold;
}
.welcome .tasknum{
  color: #42B983;
  font-weight: bold;
}
.product-box{
  margin-top: 30px;
  display: flex;
  margin-left: -20px;
  margin-right: -20px;
}
.product-box .product{
  background: #f5f5f5;
  padding: 20px;
  margin: 20px 20px 0px 20px;
}
.product-box .name{
  font-weight: bold;
  color: #333;
}
.product-box .des{
  margin-right:0px;
  color:#666;
  line-height: 1.8;
}
.product-box .price{
  color: #F56C6C;
  font-size: 18px;
  font-weight: bold;
}
.product-box .btn{
  text-align: right;
}
.list-title{
  font-size: 16px;
  margin: 50px 0px -20px 0px;
  padding: 10px 20px;
  border-bottom: 1px solid #f1f1f1;
  letter-spacing: 2px;
}

.modalTitle{
  border-bottom: 1px solid #f1f1f1;
  margin-top: 30px;
  padding: 10px 0;
}

/* FBA任务购买页面 */
.tabTitle{
  background: #eee;
  color: #212121;
  cursor: pointer;
}
.t-title{
  font-size: 18px;
}
